@media (max-width: 930px) {
    .header {
        &__title {
            font-size: 42px;
        }
        &__top {
            gap: 3rem;
        }
        &__nav {
            & ul {
                gap: 1rem;
            }
        }

    }
    .section {
        &__title {
            width: 75%;
            font-size: 38px;
        }
    }

    .banner {
        & .section__title {
            width: 60%;
        }
    }

    .section1 {
        &__cards {
            gap: 3rem;
        }
    }

    .section3 {
        &__content {
            width: 80%;
            & h2 {
                font-size: 42px;
            }
        }
    }
    .pad_ver_5 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .all-products {
        &__item {
            gap: 2rem;
            &-image {
                height: 100%;
            }
            &-content {
                padding-right: 1rem;
    
                & p,h3  {
                    width: 100%;
                }
            }
        }
    }
    .contact {
        &__item {
            & p {
                width: 80%;
            }
        }
    }
}

@media (max-width: 700px) {
    .padding_normal {
        padding-left: 2%;
        padding-right: 2%;
    }
    .header {
        &__title  {
            font-size: 30px;
        }
        &__top {
            gap: 1rem;
        }
    }

    .section {
        padding-top: 5rem;
        &__title {
            font-size: 25px;
            width: 60%;
        }
        &__sub {
            font-size: 16px;
        }
    }
    .section1 {
        &__cards {
            display: flex;
            flex-direction: column;

        }
    }
    .title__number {
        font-size: 30px;
    }

    .section3 {
        &__content  {
            width: 100%;
             & h2 {
                font-size: 30px;
             }
        }
    }
    .banner {
        & .section__title {
            width: 60%;
        }
    }

    .gallery {
        grid-template-areas: "c1 c4 c10" "c1 c7 c10" "c5 c7 c9";

        &__item_7 {
            padding: 1rem;
            gap: 10px;
            & p {
                font-size: 14px;
            }
            & h3 {
                font-size: 20px;
            }
        }

        &__item_2 {
            display: none;
        }
        &__item_3 {
            display: none;
        }

        &__item_8 {
            display: none;
        }

        &__item_6 {
            display: none;
        }
    }
    

    .footer {
        margin-top: 6rem;
        padding: 3rem 0;
        &__container {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            & .card {
                max-width: 250px;
            }
        }
    }

    .contact {
        &__container {
            display: flex;
            flex-direction: column;
        }
    }
    .section5 {
        &__countries {
            width: 90%;
        }
    }
    .modal {
        margin: auto 2rem;
        padding: 1rem;
        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: 550px) {
    .pad_ver_5 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .hamburger {
        display: inline-block;
    }
    .header {
        &__nav {
            display: none;
        }
        .language-picker {
            display: none;
        }
    }
    .banner {
        & .section__title {
            width: 100%;
        }
    }

    .card__title {
        font-size: 20px;
    }
    .title__number {
        font-size: 25px;
    }
    .section {
        &__title {
            width: 90%;
        }
    }
    .section1 {
        & .button {
            margin: 0 auto;
        }
    }
    .section2 .divided {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;  
    }

    .section3 {
        &__content  {
            width: 100%;
             & h2 {
                font-size: 25px;
             }
        }
    }

    .section5 {
        &__countries {
            width: 100%;
            font-size: 14px;
            justify-content: center;
            & .card {
                gap: 0rem;
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .gallery {
        grid-template-areas: "c4" "c7" "c9";

        &__item_7 {
            padding: 1rem;
            gap: 10px;
            & p {
                font-size: 14px;
            }
            & h3 {
                font-size: 20px;
            }
        }
        &__item_1 {
            display: none;
        }

        &__item_2 {
            display: none;
        }
        &__item_3 {
            display: none;
        }

        &__item_5 {
            display: none;
        }
        &__item_6 {
            display: none;
        }
        &__item_8 {
            display: none;
        }
        &__item_6 {
            display: none;
        }
        &__item_10 {
            display: none;
        }
    }
    .all-products {
        &__item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .products__slider {
        & .section__title {
            width: 100%;
        }
    }
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
    }
    
    .footer {
        text-align: left;
        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: var(--color-blue_dark)!important;
        }
        margin-top: 3rem;
        padding: 2rem 0;
        &-logo {
            grid-area: logo;
            & .card__container {
                justify-content: flex-start;
                gap: 2rem;
                & img {
                    width: 45px;
                }
            }
        }
        &-pages {
            grid-area: pages;
            &-inner {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }
            & .footer__title {
                margin: 0;
                padding: 0;
            }
            & .footer__text {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }

        }
        &-products {
            grid-area: products;
        }
        &-contact {
            grid-area: contact;
        }
        &__title {
            color: var(--color-gray);
        }

        &-products {
            display: none;
        }
        &-contact {
            & .footer__text {
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
            }
        }
        &-address {
            grid-area: address;
            justify-self: start;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
        &__container {
            display: grid;
            gap: 2.5rem;
            grid-template-columns: 1fr;
            grid-template-areas: "contact" "pages" "address" "logo";
            & .card {
                width: 100%;
                max-width: none;
            }
        }
    }
}