@media (max-width: 930px) {
    .header {
        &__title {
            font-size: 42px;
        }
        &__top {
            gap: 3rem;
        }
        &__nav {
            & ul {
                gap: 1rem;
            }
        }

    }
    .section {
        &__title {
            width: 75%;
            font-size: 38px;
        }
    }

    .banner {
        & .section__title {
            width: 60%;
        }
    }

    .section1 {
        &__cards {
            gap: 3rem;
        }
    }

    .section3 {
        padding: 0;
        &__content {
            width: 80%;
            & h2 {
                font-size: 42px;
            }
        }
    }
    .pad_ver_5 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .all-products {
        &__item {
            gap: 2rem;
            &-image {
                height: 100%;
            }
            &-content {
                padding-right: 1rem;
    
                & p,h3  {
                    width: 100%;
                }
            }
        }
    }
    .contact {
        &__item {
            & p {
                width: 100%;
            }
        }
    }
}

@media (max-width: 700px) {
    .padding_normal {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
    .header {
        &__title  {
            font-size: 30px;
        }
        &__top {
            gap: 1rem;
        }
    }

    .section {
        padding-top: 50px;
        &__title {
            font-size: 25px;
            width: 60%;
        }
        &__sub {
            font-size: 16px;
        }
    }
    .section1 {
        &__cards {
            display: flex;
            flex-direction: column;

        }
    }
    .title__number {
        font-size: 30px;
    }

    .section3 {
        &__content  {
            width: 100%;
             & h2 {
                font-size: 30px;
             }
        }
    }
    .banner {
        & .section__title {
            width: 60%;
        }
    }

    .gallery {
        grid-template-areas: "c1 c4 c10" "c1 c7 c10" "c5 c7 c9";

        &__item_7 {
            padding: 1rem;
            gap: 10px;
            & p {
                font-size: 14px;
            }
            & h3 {
                font-size: 20px;
            }
        }

        &__item_2 {
            display: none;
        }
        &__item_3 {
            display: none;
        }

        &__item_8 {
            display: none;
        }

        &__item_6 {
            display: none;
        }
    }
    

    .footer {
        margin-top: 6rem;
        padding: 3rem 0;
        &__container {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            & .card {
                max-width: 250px;
            }
        }
    }

    .contact {
        &__container {
            display: flex;
            flex-direction: column;
        }
    }
    .section5 {
        &__countries {
            width: 90%;
        }
    }
    .modal {
        margin: auto 2rem;
        padding: 1rem;
        &__title {
            font-size: 20px;
        }
    }
}

@media (max-width: 550px) {
    body{
        background-color: white;
    }
    .pad_ver_5 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .hamburger {
        display: inline-block;
    }
    .pad_ver_3{
        padding-top: 0;
    }
    .header {
        background-color: #DCE2F3;
        &__center{
            border: none;
            justify-content: flex-start;
            height: 400px;
        }
        &__nav {
            display: none;
        }
        &__content {
            width: 80%;
        }
        .language-picker {
            display: none;
        }
        &__main {
            background-position: 100% 130%, center, center;
            background-size: 50% auto, cover, cover;
        }
    }
    .banner {
        & .section__title {
            width: 100%;
        }
    }

    .card__title {
        font-size: 20px;
    }
    .title__number {
        font-size: 25px;
    }
    .section {
        background-color: white;
        gap: 15px;
        &__title {
            width: 90%;
        }
    }
    .section1 {
        & .button {
            margin: 0 auto;
        }
    }
    .section2 .divided {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;  
    }

    .section3 {
        &__content  {
            width: 100%;
             & h2 {
                font-size: 25px;
             }
        }
    }

    .section5 {
        &__countries {
            width: 100%;
            font-size: 12px;
            word-break: break-all;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            align-items: start;
            align-content: start;
            gap: 0.5rem;
            & .card {
                gap: 0rem;
                display: flex;
                justify-content: start;
                img{
                    width: 36px;
                    height: 36px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
    }
    .gallery {
        grid-template-areas: 
            "c1 c1" 
            "c5 c6" 
            "c7 c7" 
            "c4 c4" 
            "c8 c10" 
            "c9 c10" 
            "c2 c3";
        &__item_7 {
            padding: 1rem;
            gap: 10px;
            & p {
                font-size: 14px;
            }
            & h3 {
                font-size: 20px;
            }
        }
        &__item_2 {
            display: inline-block;
        }
        &__item_3 {
            display: inline-block;
        }
        &__item_6 {
            display: inline-block;
        }
        &__item_8 {
            display: inline-block;
        }
    }
    .all-products {
        &__item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .products__slider {
        & .section__title {
            width: 100%;
        }
    }
    .desktop-only {
        display: none;
    }
    .mobile-only {
        display: flex;
    }
    
    .footer {
        text-align: left;
        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: var(--color-blue_dark)!important;
        }
        margin-top: 3rem;
        padding: 2rem 0;
        &-logo {
            grid-area: logo;
            & .card__container {
                justify-content: flex-start;
                gap: 2rem;
                & img {
                    width: 45px;
                }
            }
        }
        &-pages {
            grid-area: pages;
            &-inner {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: center;
                gap: 2rem;
            }
            & .footer__title {
                margin: 0;
                padding: 0;
            }
            & .footer__text {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }

        }
        &-products {
            grid-area: products;
        }
        &-contact {
            grid-area: contact;
        }
        &__title {
            color: var(--color-gray);
        }

        &-products {
            display: none;
        }
        &-contact {
            & .footer__text {
                font-weight: 600;
                font-size: 30px;
                line-height: 36px;
            }
        }
        &-address {
            grid-area: address;
            justify-self: start;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
        }
        &__container {
            display: grid;
            gap: 2.5rem;
            grid-template-columns: 1fr;
            grid-template-areas: "contact" "pages" "address" "logo";
            & .card {
                width: 100%;
                max-width: none;
            }
        }
    }

    .bg_blue_dark, .bg_green_dark {
        background-size: 70% 100%;
        background-position: 215% 50px;
    }
    .wrap-reverse {
        flex-direction: column-reverse;
    }
    .modal {
        background-position: 150% 105%;
    }
}

@media (max-width: 395px) {
    body {
        background-color: white;
    }
    .header {
        &__top {
            border-bottom: none;
        }
        &__title {
            padding-bottom: 50px;
        }
        & .scroll-down {
            position: relative;
            margin-top: auto;
        }
        &-home {
        height: 681px;

            & .header__center {
                height: 600px;
                padding-top: 100px;
            }
        }
    }
    .section {
        gap: 25px;
        padding-top: 20px;
        &__title {
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            width: 100%;
        }
    }
    .section1 {
        &__cards {
            gap: 30px;
            & .card {
                &__title {
                    color: #0c1d32;
                }
                &__text {
                    color: rgba(12, 29, 50, 0.85);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                }
            }
        }
    }
    .section2 {
        padding-top: 50px;
        & .pad_ver_3 {
            padding: 0;
            margin-bottom: 25px;
        }
        & .card__title {
            word-break: break-all;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            width: 101%;
            & .hyphen {
                display: inline-block;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 36px;
                color: #0c1d32;
            }
        }
        & .section__text {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
        & .card__container {
            
            .title__number {
                font-style: normal;
                font-weight: 600;
                font-size: 40px;
                line-height: 48px;
            }
            & .card {
                &:nth-child(1) {
                    width: 82px;
                }
                width: min-content;
                &__text {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;

                }
            }
        }
        &__image__container {
            display: flex;
            align-items: center;
            justify-content: center;
            & img {
                width: 90%;
            }
        }
    }
    .section3 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .bg_blue_dark, .bg_blue_dark {
        background-size: 70% 75%;
        background-position: 218% 87px;
        & h2 {
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            word-break: break-all;
            width: 98%;
        }
        & .hyphen {
            display: inline-block;
        }
        & p {
            width: 101%;
        }
        & .button {
            padding: 10px 0;
        }
    }
    .section4 {
        padding-top: 70px;
        & .section__title {
            color: #111111;
        }
        & .card__text {
            color: #303f51;
        }
        &__image {
            padding: 20px 0;
        }
    }
    .section5 {
        & .section__sub {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
        & .section__text {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #303f51;
            line-height: 150%;
        }
        & .padding_big {
            padding: 0;
        }
    }
}
